/* A nice cascading stylecheat */
body {
    background:#09f;
}

div#wrapper {
    position: relative;
    width:600px;
    height:500px;
    margin: auto;
}


div#LogoSlogan {
    text-align: center;
    position: absolute;
    border:1px solid #000;
    width:340px;
    height:400px;
    top: 100px;
}

div#Login{
    text-align: center; 
    position: absolute;
    background:#fff;
    border:1px solid #000;
    overflow: auto;
    width:250px;
    height:90px;
    top: 100px;
    bottom: 310px;
    left: 350px;
}

div#Signup{
    text-align: center; 
    position: absolute;
    border:1px solid #000;
    background:#fff;
    overflow: auto;
    width:250px;
    height:300px;
    top: 200px;
    left: 350px;
}

div#signUpText {
    width: 250px;
    height: 50px;
}

label.input {
    display: inline-block;
    text-align: left;
    width: 35%;
}

div.inputWrapper {
    overflow: hidden;
    width: 100%;
}

div.loginWrapper {
    position:absolute;
    bottom:0;
    right:0;
    text-align: right;
    width: 250px;
}

div.textSeparator {
    text-align: left;
    display: inline-block;
    width: 50%; 
}

div.formSeparator {
    text-align: right; 
    float: right;
    width: 45%;
}

input.formSize {
    width: 100%;
}

select.formSize {
    width: 100%;
}

div#signUpText{
    text-align: center; 
    width: 250;
    top: 20;
}
