body {
    font-family: sans-serif;
    background-color: #208C71;
}

#mainContainer {
    width: 600px;
    height: 400px;

    left: 0px;
    right: 0px;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

div.panel {
    background-color: #6C6C6C;
    box-shadow: 4px 4px #006A50;
    border-color: #000000;
    border-style: solid;
    border-width: 1px;
    overflow: auto;
    padding: 5px;
}

#logoPanel {
    width: 330px;
    height: 335px;
    overflow: visible;
    padding-top: 60px;

    top: 0px;
    left: 0px;
    position: absolute;
}

#loginPanel {
    width: 240px;
    height: 80px;

    top: 0px;
    left: 350px;
    position: absolute;
}

div.inputContainer {
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;
}

.leftAlign {
    float: left;
}

.rightAlign {
    float: right;
}

input.fixedLength {
    width: 130px;
}

input.fixedSize {
    width: 60px;
}

#signUpPanel {
    width: 240px;
    height: 295px;

    top: 100px;
    left: 350px;
    position: absolute;
    padding-top: 0px;
}
